In [1]:
import pandas as pd
import numpy as np
import zipfile
import sqlite3

In [2]:
data_sources = {
    # movielens
    'genome_scores'    : './data/ml-25m/genome-scores.csv',
    'genome_tags'      : './data/ml-25m/genome-tags.csv',
    'links'            : './data/ml-25m/links.csv',
    'movies'           : './data/ml-25m/movies.csv',
    'ratings'          : './data/ml-25m/ratings.csv',
    'tags'             : './data/ml-25m/tags.csv',
#     imdb
    'imdb_name_basics' : './data/imdb/name.basics.tsv.gz',
    'imdb_title_basics': './data/imdb/title.basics.tsv.gz',
    'imdb_ratings'     : './data/imdb/title.ratings.tsv.gz',
    'imdb_crew'        : './data/imdb/title.crew.tsv.gz',
    'imdb_principals'  : './data/imdb/title.principals.tsv.gz',
}

In [3]:
dfs = {}
for name, path in data_sources.items():
    print(dfs.keys(), end='\r')
    separator = '\t' if 'tsv' in path else ','
    dfs[name] = pd.read_csv(path, sep=separator).replace(to_replace=r'\N', value=np.nan)

/Users/ms621y/anaconda3/envs/DVA/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
for name, path in data_sources.items():
    dfs[name] = dfs[name].dropna()

# connect to database

In [7]:
db_name = './movie_sqlite.db'
conn = sqlite3.connect(db_name)
c = conn.cursor()

In [8]:
# get needed movie ids
sql = """
select id from movies ;
"""
c.execute(sql)
movie_ids = c.fetchall()
needed_movies = [m[0] for m in movie_ids]
needed_movies[:5]  # check first 5

['tt0000012', 'tt0000417', 'tt0000439', 'tt0004972', 'tt0006333']

In [9]:
df_needed_movies = pd.DataFrame(needed_movies)
df_needed_movies.columns = ['movie_id']
df_needed_movies.head()

    movie_id
0  tt0000012
1  tt0000417
2  tt0000439
3  tt0004972
4  tt0006333

In [10]:
df_needed_movies.shape

(13795, 1)

In [11]:
# actors table
# directors table

In [12]:
needed_movies_joined_to_directors = pd.merge(df_needed_movies,
                                             dfs['imdb_crew'],
                                             left_on='movie_id',
                                             right_on='tconst',
                                             how='left')
needed_movies_joined_to_directors.head()

    movie_id     tconst  directors                        writers
0  tt0000012        NaN        NaN                            NaN
1  tt0000417  tt0000417  nm0617588  nm0617588,nm0894523,nm0920229
2  tt0000439  tt0000439  nm0692105            nm1145809,nm0692105
3  tt0004972  tt0004972  nm0000428  nm0228746,nm0000428,nm0940488
4  tt0006333  tt0006333  nm0665737            nm0894523,nm0665737

In [13]:
unique_movies = needed_movies_joined_to_directors.movie_id.unique()
unique_movies

array(['tt0000012', 'tt0000417', 'tt0000439', ..., 'tt9412098',
       'tt9495224', 'tt9573980'], dtype=object)

In [14]:
needed_movies_joined_to_directors.movie_id.nunique()

13795

In [15]:
needed_movies_joined_to_directors.directors.nunique()

5569

In [16]:
np.nan

nan

In [17]:
# needed_movies_joined_to_directors.loc[:,'writers'] = np.where(needed_movies_joined_to_directors.writers == r'\N',
#                                                               np.nan,
#                                                               needed_movies_joined_to_directors.writers)

In [18]:
needed_movies_joined_to_directors = (needed_movies_joined_to_directors[~
                               needed_movies_joined_to_directors.directors.isna()])

In [19]:
needed_movies_joined_to_directors[needed_movies_joined_to_directors.directors.isna()]

Empty DataFrame
Columns: [movie_id, tconst, directors, writers]
Index: []

In [20]:
needed_movies_joined_to_directors.shape

(13512, 4)

In [21]:
all_needed_directors = pd.Series(needed_movies_joined_to_directors.directors.unique())

In [22]:
all_needed_directors.shape

(5569,)

In [23]:
all_needed_directors.head()

0    nm0617588
1    nm0692105
2    nm0000428
3    nm0665737
4    nm0000122
dtype: object

In [24]:
cleaned_all_needed_directors = []
for pair in [person.split(',') for person in all_needed_directors]:
    for item in pair:
        cleaned_all_needed_directors.append(item)

In [25]:
cleaned_all_needed_directors = pd.DataFrame(np.array(cleaned_all_needed_directors), columns=['nconst'])
cleaned_all_needed_directors.head()

      nconst
0  nm0617588
1  nm0692105
2  nm0000428
3  nm0665737
4  nm0000122

In [26]:
cleaned_all_needed_directors.shape

(7013, 1)

In [27]:
'nm5278146' in cleaned_all_needed_directors.nconst

False

In [28]:
dfs['imdb_crew'].head()

        tconst  directors    writers
8    tt0000009  nm0085156  nm0085156
34   tt0000036  nm0005690  nm0410331
74   tt0000076  nm0005690  nm0410331
89   tt0000091  nm0617588  nm0617588
106  tt0000108  nm0005690  nm0410331

In [29]:
dfs['imdb_crew'][dfs['imdb_crew'].writers.isna()]

Empty DataFrame
Columns: [tconst, directors, writers]
Index: []

In [30]:
cleaned_all_needed_directors[cleaned_all_needed_directors.nconst.isna()]

Empty DataFrame
Columns: [nconst]
Index: []

In [31]:
# * NOTE some directors exist in the directors field for movies but in the imdb crew are not found
#  using this we can find these cases how='left')
# 618 directors dont exist in the imdb crew dataset

In [32]:
cleaned_all_needed_directors.head()

      nconst
0  nm0617588
1  nm0692105
2  nm0000428
3  nm0665737
4  nm0000122

In [33]:
dfs['imdb_crew'].head()

        tconst  directors    writers
8    tt0000009  nm0085156  nm0085156
34   tt0000036  nm0005690  nm0410331
74   tt0000076  nm0005690  nm0410331
89   tt0000091  nm0617588  nm0617588
106  tt0000108  nm0005690  nm0410331

In [34]:
directors_and_movies = pd.merge(cleaned_all_needed_directors, 
                                dfs['imdb_crew'],
                                left_on='nconst',
                                right_on='directors',
                                how='inner')
directors_and_movies.head()

      nconst     tconst  directors    writers
0  nm0617588  tt0000091  nm0617588  nm0617588
1  nm0617588  tt0000132  nm0617588  nm0617588
2  nm0617588  tt0000138  nm0617588  nm0617588
3  nm0617588  tt0000211  nm0617588  nm0617588
4  nm0617588  tt0000218  nm0617588  nm0617588

In [35]:
directors_and_movies.tconst.nunique()

155889

In [36]:
# filter this set down by only the movies we have access to.
directors_and_movies_filtered = directors_and_movies[directors_and_movies.tconst.isin(unique_movies)]
directors_and_movies_filtered.tconst.nunique()

12509

In [37]:
# check how many movies each director was in
s = directors_and_movies.groupby('nconst').count()['tconst'].sort_values(ascending=False)
s.head()

nconst
nm0455741    1788
nm0005062    1768
nm0814716    1570
nm1853544    1080
nm0400958     910
Name: tconst, dtype: int64

In [38]:
s.tail()

nconst
nm0095298    1
nm0582481    1
nm5169133    1
nm1703612    1
nm2499640    1
Name: tconst, dtype: int64

In [39]:
directors_movie_counts = s.reset_index()
directors_movie_counts[directors_movie_counts['nconst'] == 'nm0455741']

      nconst  tconst
0  nm0455741    1788

In [40]:
# EDA this is the average number of movies each director in our dataset directed
s.mean()

35.21098901098901

In [41]:
directors_and_movies = directors_and_movies[['directors', 'tconst']]
directors_and_movies.columns = ['directors', 'movies']

In [42]:
# load movies, ids, releveance into df
# join this with directors and movies on movies id
# aggregate on [directors, movies] and apply aggregate function (mean) (or weighted based on rating)

In [43]:
sql = '''
select *
from tag_relevance
join movies
on fk_id = id
limit 50000000
'''
c
df_movie_tags = pd.read_sql(sql, con=conn)
df_movie_tags.head()

,fk_id,tag_id,relevance,id,kind,primary_title,original_title,release_year,runtime_minutes,genres
0,tt0000012,1,0.04500,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,1896,1,"Action,Documentary,Short"
1,tt0000012,2,0.04225,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,1896,1,"Action,Documentary,Short"
2,tt0000012,3,0.03475,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,1896,1,"Action,Documentary,Short"
3,tt0000012,4,0.03750,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,1896,1,"Action,Documentary,Short"
4,tt0000012,5,0.21475,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,1896,1,"Action,Documentary,Short"

In [44]:
# df_movie_tags.groupby('fk_id').count().tag_id.unique()

In [45]:
# NOTE: fix nans from being joined above
# for now just remove

In [46]:
# directors_and_movies = directors_and_movies[~directors_and_movies.tconst.isna()]

In [47]:
directors_and_movies.head()

   directors     movies
0  nm0617588  tt0000091
1  nm0617588  tt0000132
2  nm0617588  tt0000138
3  nm0617588  tt0000211
4  nm0617588  tt0000218

In [48]:
directors_and_movies[directors_and_movies['directors'] == 'nm0000008']

       directors     movies
39204  nm0000008  tt0055257

In [49]:
# directors_and_movies.loc[:,'movie_id'] = (directors_and_movies.loc[:,'tconst'].str[2:]).astype(int)
# directors_and_movies.head()

In [50]:
# df_movie_tags.head()

In [51]:
df_movie_tags.head()

,fk_id,tag_id,relevance,id,kind,primary_title,original_title,release_year,runtime_minutes,genres
0,tt0000012,1,0.04500,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,1896,1,"Action,Documentary,Short"
1,tt0000012,2,0.04225,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,1896,1,"Action,Documentary,Short"
2,tt0000012,3,0.03475,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,1896,1,"Action,Documentary,Short"
3,tt0000012,4,0.03750,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,1896,1,"Action,Documentary,Short"
4,tt0000012,5,0.21475,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,1896,1,"Action,Documentary,Short"

In [52]:
directors_and_movies.head()

   directors     movies
0  nm0617588  tt0000091
1  nm0617588  tt0000132
2  nm0617588  tt0000138
3  nm0617588  tt0000211
4  nm0617588  tt0000218

In [53]:
directors_and_movies.directors.nunique()

5460

In [54]:
directors_and_movies.groupby('directors').count().sort_values('movies', ascending=False)

           movies
directors
nm0455741    1788
nm0005062    1768
nm0814716    1570
nm1853544    1080
nm0400958     910
...           ...
nm0000092       1
nm0829518       1
nm1671943       1
nm0254357       1
nm1905310       1

[5460 rows x 1 columns]

In [55]:
# directors_and_movies.groupby('movies').count().sort_values('directors', ascending=False)

In [56]:
df_movie_tags[df_movie_tags['fk_id'] == 'tt0032544']

Empty DataFrame
Columns: [fk_id, tag_id, relevance, id, kind, primary_title, original_title, release_year, runtime_minutes, genres]
Index: []

In [57]:
merged_df = pd.merge(directors_and_movies, df_movie_tags, left_on='movies', right_on='fk_id', how='inner')
# merged_df[~merged_df.tag_id.isna()].head()
merged_df.shape

(489552, 12)

In [58]:
merged_df[merged_df['directors'] == 'nm0455741']

Empty DataFrame
Columns: [directors, movies, fk_id, tag_id, relevance, id, kind, primary_title, original_title, release_year, runtime_minutes, genres]
Index: []

In [59]:
merged_df.shape

(489552, 12)

In [60]:
directors_and_movies.directors.nunique() * 1128

6158880

In [61]:
directors_tag_relevance = merged_df.groupby(['directors', 'tag_id'])['relevance'].mean().reset_index()
directors_tag_relevance

        directors tag_id  relevance
0       nm0000008      1    0.04475
1       nm0000008     10    0.01650
2       nm0000008    100    0.61000
3       nm0000008   1000    0.04275
4       nm0000008   1001    0.04375
...           ...    ...        ...
277483  nm0958387    995    0.11225
277484  nm0958387    996    0.06875
277485  nm0958387    997    0.05275
277486  nm0958387    998    0.14750
277487  nm0958387    999    0.14375

[277488 rows x 3 columns]

In [62]:
15584448
current rows
updated rows
15861936

SyntaxError: invalid syntax (<ipython-input-62-9ffc10d712e2>, line 2)

In [63]:
fk_id text NOT NULL,
    tag_id name text NOT NULL,
    relevance real NOT NULL

SyntaxError: invalid syntax (<ipython-input-63-2345dc278d65>, line 1)

In [64]:
directors_tag_relevance.columns = ['fk_id', 'tag_id', 'relevance']

In [65]:
directors_tag_relevance.to_sql('tag_relevance', conn, if_exists='append', index=False)

In [66]:
15861936 - 15584448

277488

In [67]:
directors_tag_relevance.shape

(277488, 3)

In [68]:
directors_tag_relevance[directors_tag_relevance['directors'] == 'nm0958387'].relevance.max()

KeyError: 'directors'

In [69]:
directors_tag_relevance[directors_tag_relevance['directors'] == 'nm0958387'][directors_tag_relevance[directors_tag_relevance['directors'] == 'nm0958387']['relevance']== 0.993]

KeyError: 'directors'

In [70]:
directors_and_movies[directors_and_movies.directors == 'nm0958387']

       directors     movies
71350  nm0958387  tt0099653
71351  nm0958387  tt0113071
71352  nm0958387  tt0250687
71353  nm0958387  tt0099653
71354  nm0958387  tt0113071
71355  nm0958387  tt0250687
71356  nm0958387  tt0099653
71357  nm0958387  tt0113071
71358  nm0958387  tt0250687
71359  nm0958387  tt0099653
71360  nm0958387  tt0113071
71361  nm0958387  tt0250687

In [71]:
dfs.keys()

dict_keys(['genome_scores', 'genome_tags', 'links', 'movies', 'ratings', 'tags', 'imdb_name_basics', 'imdb_title_basics', 'imdb_ratings', 'imdb_crew', 'imdb_principals'])

In [72]:
dfs['imdb_principals']

Empty DataFrame
Columns: [tconst, ordering, nconst, category, job, characters]
Index: []

In [73]:
dfs['imdb_crew']

            tconst            directors                        writers
8        tt0000009            nm0085156                      nm0085156
34       tt0000036            nm0005690                      nm0410331
74       tt0000076            nm0005690                      nm0410331
89       tt0000091            nm0617588                      nm0617588
106      tt0000108            nm0005690                      nm0410331
...            ...                  ...                            ...
6691700  tt9916848  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
6691701  tt9916850  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
6691702  tt9916852  nm5519375,nm5519454  nm6182221,nm1628284,nm2921377
6691703  tt9916856           nm10538645                      nm6951431
6691704  tt9916880            nm0996406            nm1482639,nm2586970

[2989524 rows x 3 columns]

In [74]:
dfs['genome_tags'][dfs['genome_tags'].tagId == 43]

    tagId    tag
42     43  alien

In [75]:
directors_tag_relevance[directors_tag_relevance==0.99925]

       fk_id tag_id  relevance
0        NaN    NaN        NaN
1        NaN    NaN        NaN
2        NaN    NaN        NaN
3        NaN    NaN        NaN
4        NaN    NaN        NaN
...      ...    ...        ...
277483   NaN    NaN        NaN
277484   NaN    NaN        NaN
277485   NaN    NaN        NaN
277486   NaN    NaN        NaN
277487   NaN    NaN        NaN

[277488 rows x 3 columns]

In [76]:
directors_tag_relevance = pd.DataFrame(directors_tag_relevance).reset_index()
directors_tag_relevance.directors.nunique()

AttributeError: 'DataFrame' object has no attribute 'directors'

In [77]:
pd.DataFrame(directors_tag_relevance)

         index      fk_id tag_id  relevance
0            0  nm0000008      1    0.04475
1            1  nm0000008     10    0.01650
2            2  nm0000008    100    0.61000
3            3  nm0000008   1000    0.04275
4            4  nm0000008   1001    0.04375
...        ...        ...    ...        ...
277483  277483  nm0958387    995    0.11225
277484  277484  nm0958387    996    0.06875
277485  277485  nm0958387    997    0.05275
277486  277486  nm0958387    998    0.14750
277487  277487  nm0958387    999    0.14375

[277488 rows x 4 columns]

In [78]:
dfs.keys()

dict_keys(['genome_scores', 'genome_tags', 'links', 'movies', 'ratings', 'tags', 'imdb_name_basics', 'imdb_title_basics', 'imdb_ratings', 'imdb_crew', 'imdb_principals'])

In [79]:
dfs['imdb_name_basics'].head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0043044,tt0072308,tt0053137,tt0050419"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0038355,tt0037382,tt0117057,tt0071877"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0080455,tt0072562,tt0077975,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0083922,tt0050976,tt0069467,tt0050986"
5,nm0000006,Ingrid Bergman,1915,1982,"actress,soundtrack,producer","tt0036855,tt0038109,tt0038787,tt0071877"

In [102]:
needed_directors_and_names = pd.merge(cleaned_all_needed_directors,dfs['imdb_name_basics'],
                                      left_on='nconst', right_on='nconst', how='left' )
toy_data = needed_directors_and_names.head(100)

In [103]:
## dumping into csv for toy data for visualization
toy_data.to_csv('toy_director_movies.csv')

In [97]:
needed_directors_and_names = needed_directors_and_names[['nconst','primaryName']]

In [82]:
dfs['directors'] = needed_directors_and_names
dfs['directors_relevence'] = directors_tag_relevance

In [83]:
dfs['directors']

         nconst      primaryName
0     nm0617588   Georges Méliès
1     nm0692105  Edwin S. Porter
2     nm0000428    D.W. Griffith
3     nm0665737     Stuart Paton
4     nm0000122  Charles Chaplin
...         ...              ...
7008  nm0737517              NaN
7009  nm0319213              NaN
7010  nm5255757              NaN
7011  nm0636675              NaN
7012  nm0042006              NaN

[7013 rows x 2 columns]

In [84]:
# 
#
directors_table = """
CREATE TABLE IF NOT EXISTS directors (
    id text PRIMARY KEY,
    name text
);
"""

director_relevence_table = """
CREATE TABLE IF NOT EXISTS director_tag_relevance (
    director_id integer,
    tag_id name text NOT NULL,
    relevance real NOT NULL
);
"""
table_sql = {
    'directors'                 : directors_table,
    'directors_relevence'       : director_relevence_table,
}

table_data_source = {
    'directors'                 : 'directors',
    'directors_relevence'       : 'directors_relevence',
}

for table_name in table_sql:
    # create table
    c.execute(table_sql[table_name])
    # populate table with data
    df = dfs[table_data_source[table_name]]
    df.to_sql(table_sql[table_name], conn, if_exists='append', index=False)

In [85]:
# get needed movie ids
sql = """
select id from movies ;
"""
c.execute(sql)
movie_ids = c.fetchall()
needed_movies = [m[0] for m in movie_ids]
needed_movies[:5]  # check first 5

['tt0000012', 'tt0000417', 'tt0000439', 'tt0004972', 'tt0006333']

In [86]:
# director aggregated tag score
# average for each tag for all of the movies they directed

In [87]:
# get needed movie ids
sql = """
select * from tags ;
"""
c.execute(sql)
tag_ids = c.fetchall()
all_tags = [t for t in tag_ids]
all_tags[:5]  # check first 5

[(1, '007'),
 (2, '007 (series)'),
 (3, '18th century'),
 (4, '1920s'),
 (5, '1930s')]

In [88]:
# get needed movie ids
sql = """
select * from tag_relevance;
"""
c.execute(sql)
movie_ids = c.fetchall()
needed_movies = [m for m in movie_ids]
needed_movies[:5]  # check first 5
# movie, tag, relevance

[('tt0000001', '1', 0.02875),
 ('tt0000001', '2', 0.023749999999999997),
 ('tt0000001', '3', 0.0625),
 ('tt0000001', '4', 0.07574999999999997),
 ('tt0000001', '5', 0.14075)]

In [107]:
movie_ids

[('tt0000001', '1', 0.02875),
 ('tt0000001', '2', 0.023749999999999997),
 ('tt0000001', '3', 0.0625),
 ('tt0000001', '4', 0.07574999999999997),
 ('tt0000001', '5', 0.14075),
 ('tt0000001', '6', 0.14675),
 ('tt0000001', '7', 0.0635),
 ('tt0000001', '8', 0.20375),
 ('tt0000001', '9', 0.20199999999999999),
 ('tt0000001', '10', 0.03075),
 ('tt0000001', '11', 0.58025),
 ('tt0000001', '12', 0.10249999999999998),
 ('tt0000001', '13', 0.20175),
 ('tt0000001', '14', 0.007000000000000006),
 ('tt0000001', '15', 0.024500000000000025),
 ('tt0000001', '16', 0.17275),
 ('tt0000001', '17', 0.016500000000000015),
 ('tt0000001', '18', 0.10399999999999998),
 ('tt0000001', '19', 0.6625),
 ('tt0000001', '20', 0.30075),
 ('tt0000001', '21', 0.31675),
 ('tt0000001', '22', 0.28600000000000003),
 ('tt0000001', '23', 0.06274999999999997),
 ('tt0000001', '24', 0.01924999999999999),
 ('tt0000001', '25', 0.05875000000000001),
 ('tt0000001', '26', 0.07924999999999999),
 ('tt0000001', '27', 0.1965),
 ('tt0000001', '28', 0.09325),
 ('tt0000001', '29', 0.89375),
 ('tt0000001', '30', 0.67625),
 ('tt0000001', '31', 0.035750000000000004),
 ('tt0000001', '32', 0.23325),
 ('tt0000001', '33', 0.3075),
 ('tt0000001', '34', 0.054499999999999986),
 ('tt0000001', '35', 0.03799999999999998),
 ('tt0000001', '36', 0.212),
 ('tt0000001', '37', 0.08000000000000003),
 ('tt0000001', '38', 0.015500000000000012),
 ('tt0000001', '39', 0.019500000000000017),
 ('tt0000001', '40', 0.01924999999999999),
 ('tt0000001', '41', 0.015000000000000013),
 ('tt0000001', '42', 0.030000000000000027),
 ('tt0000001', '43', 0.09075),
 ('tt0000001', '44', 0.02250000000000002),
 ('tt0000001', '45', 0.24600000000000002),
 ('tt0000001', '46', 0.24600000000000002),
 ('tt0000001', '47', 0.01050000000000001),
 ('tt0000001', '48', 0.16675),
 ('tt0000001', '49', 0.2935),
 ('tt0000001', '50', 0.15000000000000002),
 ('tt0000001', '51', 0.26775000000000004),
 ('tt0000001', '52', 0.18600000000000003),
 ('tt0000001', '53', 0.25725),
 ('tt0000001', '54', 0.15000000000000002),
 ('tt0000001', '55', 0.2205),
 ('tt0000001', '56', 0.014249999999999985),
 ('tt0000001', '57', 0.024249999999999997),
 ('tt0000001', '58', 0.02925),
 ('tt0000001', '59', 0.08424999999999999),
 ('tt0000001', '60', 0.03375),
 ('tt0000001', '61', 0.6175),
 ('tt0000001', '62', 0.63),
 ('tt0000001', '63', 0.94725),
 ('tt0000001', '64', 0.98425),
 ('tt0000001', '65', 0.09975),
 ('tt0000001', '66', 0.04149999999999998),
 ('tt0000001', '67', 0.135),
 ('tt0000001', '68', 0.033999999999999975),
 ('tt0000001', '69', 0.018249999999999992),
 ('tt0000001', '70', 0.14525),
 ('tt0000001', '71', 0.016749999999999987),
 ('tt0000001', '72', 0.018000000000000016),
 ('tt0000001', '73', 0.0595),
 ('tt0000001', '74', 0.00974999999999998),
 ('tt0000001', '75', 0.20125),
 ('tt0000001', '76', 0.016749999999999987),
 ('tt0000001', '77', 0.059250000000000025),
 ('tt0000001', '78', 0.03799999999999998),
 ('tt0000001', '79', 0.32925000000000004),
 ('tt0000001', '80', 0.02875),
 ('tt0000001', '81', 0.062),
 ('tt0000001', '82', 0.08700000000000002),
 ('tt0000001', '83', 0.035999999999999976),
 ('tt0000001', '84', 0.30475),
 ('tt0000001', '85', 0.068),
 ('tt0000001', '86', 0.33625000000000005),
 ('tt0000001', '87', 0.036499999999999984),
 ('tt0000001', '88', 0.005749999999999977),
 ('tt0000001', '89', 0.006749999999999978),
 ('tt0000001', '90', 0.05275000000000002),
 ('tt0000001', '91', 0.03325),
 ('tt0000001', '92', 0.02074999999999999),
 ('tt0000001', '93', 0.3435),
 ('tt0000001', '94', 0.36225),
 ('tt0000001', '95', 0.07400000000000001),
 ('tt0000001', '96', 0.06624999999999998),
 ('tt0000001', '97', 0.08174999999999999),
 ('tt0000001', '98', 0.064),
 ('tt0000001', '99', 0.12524999999999994),
 ('tt0000001', '100', 0.10549999999999997),
 ('tt0000001', '101', 0.05099999999999999),
 ('tt0000001', '102', 0.012249999999999985),
 ('tt0000001', '103', 0.0072499999999999796),
 ('tt0000001', '104', 0.0040000000000000036),
 ('tt0000001', '105', 0.023500000000000017),
 ('tt0000001', '106', 0.005249999999999978),
 ('tt0000001', '107', 0.16349999999999998),
 ('tt0000001', '108', 0.038250000000000006),
 ('tt0000001', '109', 0.19525),
 ('tt0000001', '110', 0.07950000000000003),
 ('tt0000001', '111', 0.03625),
 ('tt0000001', '112', 0.019000000000000017),
 ('tt0000001', '113', 0.501),
 ('tt0000001', '114', 0.02174999999999999),
 ('tt0000001', '115', 0.1745),
 ('tt0000001', '116', 0.015749999999999986),
 ('tt0000001', '117', 0.005500000000000005),
 ('tt0000001', '118', 0.027000000000000024),
 ('tt0000001', '119', 0.0037499999999999756),
 ('tt0000001', '120', 0.1235),
 ('tt0000001', '121', 0.31225),
 ('tt0000001', '122', 0.23125),
 ('tt0000001', '123', 0.010000000000000007),
 ('tt0000001', '124', 0.04699999999999999),
 ('tt0000001', '125', 0.04275000000000001),
 ('tt0000001', '126', 0.08224999999999999),
 ('tt0000001', '127', 0.04699999999999999),
 ('tt0000001', '128', 0.368),
 ('tt0000001', '129', 0.2315),
 ('tt0000001', '130', 0.019000000000000017),
 ('tt0000001', '131', 0.016749999999999987),
 ('tt0000001', '132', 0.29325),
 ('tt0000001', '133', 0.08975),
 ('tt0000001', '134', 0.04475000000000001),
 ('tt0000001', '135', 0.05425000000000002),
 ('tt0000001', '136', 0.09475),
 ('tt0000001', '137', 0.06574999999999998),
 ('tt0000001', '138', 0.3295),
 ('tt0000001', '139', 0.028000000000000025),
 ('tt0000001', '140', 0.11525000000000002),
 ('tt0000001', '141', 0.11225000000000003),
 ('tt0000001', '142', 0.012249999999999985),
 ('tt0000001', '143', 0.16625),
 ('tt0000001', '144', 0.08574999999999999),
 ('tt0000001', '145', 0.07900000000000001),
 ('tt0000001', '146', 0.07324999999999998),
 ('tt0000001', '147', 0.02024999999999999),
 ('tt0000001', '148', 0.03175),
 ('tt0000001', '149', 0.08000000000000003),
 ('tt0000001', '150', 0.025500000000000026),
 ('tt0000001', '151', 0.04999999999999999),
 ('tt0000001', '152', 0.08074999999999999),
 ('tt0000001', '153', 0.04675000000000002),
 ('tt0000001', '154', 0.22925),
 ('tt0000001', '155', 0.05275000000000002),
 ('tt0000001', '156', 0.05375000000000002),
 ('tt0000001', '157', 0.031999999999999966),
 ('tt0000001', '158', 0.03625),
 ('tt0000001', '159', 0.02100000000000002),
 ('tt0000001', '160', 0.18525000000000005),
 ('tt0000001', '161', 0.018500000000000016),
 ('tt0000001', '162', 0.1835),
 ('tt0000001', '163', 0.08274999999999999),
 ('tt0000001', '164', 0.221),
 ('tt0000001', '165', 0.058),
 ('tt0000001', '166', 0.013249999999999984),
 ('tt0000001', '167', 0.1405),
 ('tt0000001', '168', 0.04199999999999998),
 ('tt0000001', '169', 0.227),
 ('tt0000001', '170', 0.55075),
 ('tt0000001', '171', 0.1135),
 ('tt0000001', '172', 0.5329999999999999),
 ('tt0000001', '173', 0.063),
 ('tt0000001', '174', 0.015749999999999986),
 ('tt0000001', '175', 0.1935),
 ('tt0000001', '176', 0.1395),
 ('tt0000001', '177', 0.04149999999999998),
 ('tt0000001', '178', 0.02875),
 ('tt0000001', '179', 0.060750000000000026),
 ('tt0000001', '180', 0.026500000000000024),
 ('tt0000001', '181', 0.04949999999999999),
 ('tt0000001', '182', 0.03475),
 ('tt0000001', '183', 0.048750000000000016),
 ('tt0000001', '184', 0.03475),
 ('tt0000001', '185', 0.14575),
 ('tt0000001', '186', 0.95475),
 ('tt0000001', '187', 0.009000000000000008),
 ('tt0000001', '188', 0.53625),
 ('tt0000001', '189', 0.0625),
 ('tt0000001', '190', 0.024749999999999998),
 ('tt0000001', '191', 0.114),
 ('tt0000001', '192', 0.31225),
 ('tt0000001', '193', 0.8145),
 ('tt0000001', '194', 0.1325),
 ('tt0000001', '195', 0.5075),
 ('tt0000001', '196', 0.10875),
 ('tt0000001', '197', 0.026000000000000027),
 ('tt0000001', '198', 0.07400000000000001),
 ('tt0000001', '199', 0.13674999999999998),
 ('tt0000001', '200', 0.015749999999999986),
 ('tt0000001', '201', 0.04549999999999999),
 ('tt0000001', '202', 0.012000000000000009),
 ('tt0000001', '203', 0.90375),
 ('tt0000001', '204', 0.95975),
 ('tt0000001', '205', 0.02150000000000002),
 ('tt0000001', '206', 0.09725),
 ('tt0000001', '207', 0.017249999999999988),
 ('tt0000001', '208', 0.017000000000000015),
 ('tt0000001', '209', 0.00824999999999998),
 ('tt0000001', '210', 0.012500000000000013),
 ('tt0000001', '211', 0.020500000000000015),
 ('tt0000001', '212', 0.18625000000000005),
 ('tt0000001', '213', 0.05025000000000002),
 ('tt0000001', '214', 0.023249999999999996),
 ('tt0000001', '215', 0.815),
 ('tt0000001', '216', 0.254),
 ('tt0000001', '217', 0.013749999999999984),
 ('tt0000001', '218', 0.1985),
 ('tt0000001', '219', 0.01150000000000001),
 ('tt0000001', '220', 0.7445),
 ('tt0000001', '221', 0.05325000000000002),
 ('tt0000001', '222', 0.10125),
 ('tt0000001', '223', 0.057),
 ('tt0000001', '224', 0.03275),
 ('tt0000001', '225', 0.006749999999999978),
 ('tt0000001', '226', 0.08374999999999999),
 ('tt0000001', '227', 0.066),
 ('tt0000001', '228', 0.04899999999999999),
 ('tt0000001', '229', 0.6525),
 ('tt0000001', '230', 0.61675),
 ('tt0000001', '231', 0.12175000000000002),
 ('tt0000001', '232', 0.04999999999999999),
 ('tt0000001', '233', 0.08374999999999999),
 ('tt0000001', '234', 0.07174999999999998),
 ('tt0000001', '235', 0.26925),
 ('tt0000001', '236', 0.17025),
 ('tt0000001', '237', 0.019500000000000017),
 ('tt0000001', '238', 0.26625),
 ('tt0000001', '239', 0.11900000000000001),
 ('tt0000001', '240', 0.3120000000000001),
 ('tt0000001', '241', 0.05775000000000001),
 ('tt0000001', '242', 0.1375),
 ('tt0000001', '243', 0.14225),
 ('tt0000001', '244', 0.99875),
 ('tt0000001', '245', 0.053999999999999986),
 ('tt0000001', '246', 0.34875),
 ('tt0000001', '247', 0.02575),
 ('tt0000001', '248', 0.04775000000000002),
 ('tt0000001', '249', 0.03175),
 ('tt0000001', '250', 0.027500000000000024),
 ('tt0000001', '251', 0.16225),
 ('tt0000001', '252', 0.07150000000000001),
 ('tt0000001', '253', 0.027000000000000024),
 ('tt0000001', '254', 0.018000000000000016),
 ('tt0000001', '255', 0.53475),
 ('tt0000001', '256', 0.08574999999999999),
 ('tt0000001', '257', 0.027000000000000024),
 ('tt0000001', '258', 0.266),
 ('tt0000001', '259', 0.07100000000000001),
 ('tt0000001', '260', 0.451),
 ('tt0000001', '261', 0.018000000000000016),
 ('tt0000001', '262', 0.027500000000000024),
 ('tt0000001', '263', 0.018249999999999992),
 ('tt0000001', '264', 0.054499999999999986),
 ('tt0000001', '265', 0.09075),
 ('tt0000001', '266', 0.68475),
 ('tt0000001', '267', 0.1115),
 ('tt0000001', '268', 0.08474999999999999),
 ('tt0000001', '269', 0.244),
 ('tt0000001', '270', 0.363),
 ('tt0000001', '271', 0.034999999999999976),
 ('tt0000001', '272', 0.35550000000000004),
 ('tt0000001', '273', 0.03899999999999998),
 ('tt0000001', '274', 0.2085),
 ('tt0000001', '275', 0.32775),
 ('tt0000001', '276', 0.233),
 ('tt0000001', '277', 0.443),
 ('tt0000001', '278', 0.8420000000000001),
 ('tt0000001', '279', 0.68625),
 ('tt0000001', '280', 0.017500000000000016),
 ('tt0000001', '281', 0.017749999999999988),
 ('tt0000001', '282', 0.21375),
 ('tt0000001', '283', 0.017000000000000015),
 ('tt0000001', '284', 0.01100000000000001),
 ('tt0000001', '285', 0.10675),
 ('tt0000001', '286', 0.08300000000000002),
 ('tt0000001', '287', 0.04349999999999998),
 ('tt0000001', '288', 0.13674999999999998),
 ('tt0000001', '289', 0.07924999999999999),
 ('tt0000001', '290', 0.013000000000000013),
 ('tt0000001', '291', 0.01874999999999999),
 ('tt0000001', '292', 0.16949999999999998),
 ('tt0000001', '293', 0.04625000000000001),
 ('tt0000001', '294', 0.04775000000000002),
 ('tt0000001', '295', 0.007500000000000007),
 ('tt0000001', '296', 0.06674999999999998),
 ('tt0000001', '297', 0.17775000000000002),
 ('tt0000001', '298', 0.09250000000000004),
 ('tt0000001', '299', 0.5515),
 ('tt0000001', '300', 0.035250000000000004),
 ('tt0000001', '301', 0.01124999999999998),
 ('tt0000001', '302', 0.63875),
 ('tt0000001', '303', 0.10325),
 ('tt0000001', '304', 0.5605),
 ('tt0000001', '305', 0.16299999999999998),
 ('tt0000001', '306', 0.06474999999999997),
 ('tt0000001', '307', 0.012249999999999985),
 ('tt0000001', '308', 0.05149999999999999),
 ('tt0000001', '309', 0.83925),
 ('tt0000001', '310', 0.893),
 ('tt0000001', '311', 0.204),
 ('tt0000001', '312', 0.10249999999999998),
 ('tt0000001', '313', 0.14825),
 ('tt0000001', '314', 0.1735),
 ('tt0000001', '315', 0.039250000000000014),
 ('tt0000001', '316', 0.18600000000000003),
 ('tt0000001', '317', 0.09125),
 ('tt0000001', '318', 0.03899999999999998),
 ('tt0000001', '319', 0.20375),
 ('tt0000001', '320', 0.04525000000000001),
 ('tt0000001', '321', 0.028500000000000025),
 ('tt0000001', '322', 0.1165),
 ('tt0000001', '323', 0.34075),
 ('tt0000001', '324', 0.2105),
 ('tt0000001', '325', 0.11175000000000003),
 ('tt0000001', '326', 0.24075),
 ('tt0000001', '327', 0.1955),
 ('tt0000001', '328', 0.2415),
 ('tt0000001', '329', 0.059250000000000025),
 ('tt0000001', '330', 0.032499999999999966),
 ('tt0000001', '331', 0.031999999999999966),
 ('tt0000001', '332', 0.041250000000000016),
 ('tt0000001', '333', 0.063),
 ('tt0000001', '334', 0.46575),
 ('tt0000001', '335', 0.1345),
 ('tt0000001', '336', 0.060250000000000026),
 ('tt0000001', '337', 0.07500000000000001),
 ('tt0000001', '338', 0.48225),
 ('tt0000001', '339', 0.06474999999999997),
 ('tt0000001', '340', 0.01024999999999998),
 ('tt0000001', '341', 0.132),
 ('tt0000001', '342', 0.04599999999999999),
 ('tt0000001', '343', 0.14175),
 ('tt0000001', '344', 0.10549999999999997),
 ('tt0000001', '345', 0.30825),
 ('tt0000001', '346', 0.034499999999999975),
 ('tt0000001', '347', 0.008000000000000007),
 ('tt0000001', '348', 0.3345),
 ('tt0000001', '349', 0.1145),
 ('tt0000001', '350', 0.11900000000000001),
 ('tt0000001', '351', 0.2405),
 ('tt0000001', '352', 0.024000000000000018),
 ('tt0000001', '353', 0.34450000000000003),
 ('tt0000001', '354', 0.1195),
 ('tt0000001', '355', 0.66625),
 ('tt0000001', '356', 0.35324999999999995),
 ('tt0000001', '357', 0.07974999999999999),
 ('tt0000001', '358', 0.1135),
 ('tt0000001', '359', 0.11625000000000002),
 ('tt0000001', '360', 0.056),
 ('tt0000001', '361', 0.09275),
 ('tt0000001', '362', 0.18125),
 ('tt0000001', '363', 0.03625),
 ('tt0000001', '364', 0.5465),
 ('tt0000001', '365', 0.52825),
 ('tt0000001', '366', 0.2095),
 ('tt0000001', '367', 0.52825),
 ('tt0000001', '368', 0.34275),
 ('tt0000001', '369', 0.05149999999999999),
 ('tt0000001', '370', 0.058),
 ('tt0000001', '371', 0.43575),
 ('tt0000001', '372', 0.23775),
 ('tt0000001', '373', 0.018500000000000016),
 ('tt0000001', '374', 0.8314999999999999),
 ('tt0000001', '375', 0.27775000000000005),
 ('tt0000001', '376', 0.211),
 ('tt0000001', '377', 0.59525),
 ('tt0000001', '378', 0.42625),
 ('tt0000001', '379', 0.09125),
 ('tt0000001', '380', 0.07224999999999998),
 ('tt0000001', '381', 0.09275),
 ('tt0000001', '382', 0.50075),
 ('tt0000001', '383', 0.04699999999999999),
 ('tt0000001', '384', 0.04525000000000001),
 ('tt0000001', '385', 0.19275),
 ('tt0000001', '386', 0.05099999999999999),
 ('tt0000001', '387', 0.62325),
 ('tt0000001', '388', 0.7095),
 ('tt0000001', '389', 0.30475),
 ('tt0000001', '390', 0.2025),
 ('tt0000001', '391', 0.39025),
 ('tt0000001', '392', 0.0060000000000000045),
 ('tt0000001', '393', 0.134),
 ('tt0000001', '394', 0.01924999999999999),
 ('tt0000001', '395', 0.15799999999999995),
 ('tt0000001', '396', 0.219),
 ('tt0000001', '397', 0.18075),
 ('tt0000001', '398', 0.03475),
 ('tt0000001', '399', 0.052999999999999985),
 ('tt0000001', '400', 0.010000000000000007),
 ('tt0000001', '401', 0.2665),
 ('tt0000001', '402', 0.10199999999999998),
 ('tt0000001', '403', 0.125),
 ('tt0000001', '404', 0.03025),
 ('tt0000001', '405', 0.05325000000000002),
 ('tt0000001', '406', 0.35050000000000003),
 ('tt0000001', '407', 0.036499999999999984),
 ('tt0000001', '408', 0.04299999999999998),
 ('tt0000001', '409', 0.04225000000000001),
 ('tt0000001', '410', 0.127),
 ('tt0000001', '411', 0.04575000000000001),
 ('tt0000001', '412', 0.92875),
 ('tt0000001', '413', 0.08074999999999999),
 ('tt0000001', '414', 0.87625),
 ('tt0000001', '415', 0.7989999999999999),
 ('tt0000001', '416', 0.03799999999999998),
 ('tt0000001', '417', 0.62925),
 ('tt0000001', '418', 0.14350000000000002),
 ('tt0000001', '419', 0.1275),
 ('tt0000001', '420', 0.3825),
 ('tt0000001', '421', 0.024500000000000025),
 ('tt0000001', '422', 0.12275000000000005),
 ('tt0000001', '423', 0.08250000000000003),
 ('tt0000001', '424', 0.1845),
 ('tt0000001', '425', 0.04349999999999998),
 ('tt0000001', '426', 0.13324999999999998),
 ('tt0000001', '427', 0.15675),
 ('tt0000001', '428', 0.059000000000000004),
 ('tt0000001', '429', 0.04375000000000001),
 ('tt0000001', '430', 0.129),
 ('tt0000001', '431', 0.03225),
 ('tt0000001', '432', 0.03225),
 ('tt0000001', '433', 0.061),
 ('tt0000001', '434', 0.036999999999999984),
 ('tt0000001', '435', 0.032499999999999966),
 ('tt0000001', '436', 0.11525000000000002),
 ('tt0000001', '437', 0.10699999999999997),
 ('tt0000001', '438', 0.023500000000000017),
 ('tt0000001', '439', 0.219),
 ('tt0000001', '440', 0.02625),
 ('tt0000001', '441', 0.038250000000000006),
 ('tt0000001', '442', 0.028500000000000025),
 ('tt0000001', '443', 0.17675000000000002),
 ('tt0000001', '444', 0.03475),
 ('tt0000001', '445', 0.86825),
 ('tt0000001', '446', 0.473),
 ('tt0000001', '447', 0.54475),
 ('tt0000001', '448', 0.22),
 ('tt0000001', '449', 0.34624999999999995),
 ('tt0000001', '450', 0.053999999999999986),
 ('tt0000001', '451', 0.42075),
 ('tt0000001', '452', 0.58625),
 ('tt0000001', '453', 0.43275),
 ('tt0000001', '454', 0.50275),
 ('tt0000001', '455', 0.19625),
 ('tt0000001', '456', 0.016500000000000015),
 ('tt0000001', '457', 0.02725),
 ('tt0000001', '458', 0.15625),
 ('tt0000001', '459', 0.02575),
 ('tt0000001', '460', 0.03625),
 ('tt0000001', '461', 0.12325000000000005),
 ('tt0000001', '462', 0.07924999999999999),
 ('tt0000001', '463', 0.040250000000000015),
 ('tt0000001', '464', 0.8095000000000001),
 ('tt0000001', '465', 0.34924999999999995),
 ('tt0000001', '466', 0.07400000000000001),
 ('tt0000001', '467', 0.18100000000000002),
 ('tt0000001', '468', 0.69625),
 ('tt0000001', '469', 0.90725),
 ('tt0000001', '470', 0.11525000000000002),
 ('tt0000001', '471', 0.32299999999999995),
 ('tt0000001', '472', 0.503),
 ('tt0000001', '473', 0.11875000000000002),
 ('tt0000001', '474', 0.20775),
 ('tt0000001', '475', 0.14800000000000002),
 ('tt0000001', '476', 0.00974999999999998),
 ('tt0000001', '477', 0.03999999999999998),
 ('tt0000001', '478', 0.09775),
 ('tt0000001', '479', 0.02575),
 ('tt0000001', '480', 0.00974999999999998),
 ('tt0000001', '481', 0.3075),
 ('tt0000001', '482', 0.03475),
 ('tt0000001', '483', 0.036750000000000005),
 ('tt0000001', '484', 0.029500000000000026),
 ('tt0000001', '485', 0.02024999999999999),
 ('tt0000001', '486', 0.034499999999999975),
 ('tt0000001', '487', 0.01124999999999998),
 ('tt0000001', '488', 0.00774999999999998),
 ('tt0000001', '489', 0.002749999999999975),
 ('tt0000001', '490', 0.523),
 ('tt0000001', '491', 0.025249999999999998),
 ('tt0000001', '492', 0.014749999999999984),
 ('tt0000001', '493', 0.2285),
 ('tt0000001', '494', 0.02024999999999999),
 ('tt0000001', '495', 0.07274999999999998),
 ('tt0000001', '496', 0.32275),
 ('tt0000001', '497', 0.8122499999999999),
 ('tt0000001', '498', 0.08124999999999999),
 ('tt0000001', '499', 0.015749999999999986),
 ('tt0000001', '500', 0.060250000000000026),
 ('tt0000001', '501', 0.018500000000000016),
 ('tt0000001', '502', 0.13274999999999998),
 ('tt0000001', '503', 0.06474999999999997),
 ('tt0000001', '504', 0.73475),
 ('tt0000001', '505', 0.33025000000000004),
 ('tt0000001', '506', 0.11125000000000003),
 ('tt0000001', '507', 0.037250000000000005),
 ('tt0000001', '508', 0.10925),
 ('tt0000001', '509', 0.10449999999999998),
 ('tt0000001', '510', 0.0575),
 ('tt0000001', '511', 0.028500000000000025),
 ('tt0000001', '512', 0.07300000000000001),
 ('tt0000001', '513', 0.031000000000000024),
 ('tt0000001', '514', 0.016000000000000014),
 ('tt0000001', '515', 0.011749999999999984),
 ('tt0000001', '516', 0.0605),
 ('tt0000001', '517', 0.03125),
 ('tt0000001', '518', 0.026500000000000024),
 ('tt0000001', '519', 0.447),

In [89]:
dfs.keys()

dict_keys(['genome_scores', 'genome_tags', 'links', 'movies', 'ratings', 'tags', 'imdb_name_basics', 'imdb_title_basics', 'imdb_ratings', 'imdb_crew', 'imdb_principals', 'directors', 'directors_relevence'])

In [90]:
dfs['']

KeyError: ''

In [ ]:
# director_id, tag_id, relevence_score
# 1, 1, .5
# 1, 2, .2
# ....

In [ ]:
# actor_id, tag_id, relevence_score
# 1, 1, .5
# 1, 2, .2
# ....

In [91]:
s.head()

nconst
nm0455741    1788
nm0005062    1768
nm0814716    1570
nm1853544    1080
nm0400958     910
Name: tconst, dtype: int64

,movie_id,tconst,directors,writers
1,tt0000417,tt0000417,nm0617588,"nm0617588,nm0894523,nm0920229"
2,tt0000439,tt0000439,nm0692105,"nm1145809,nm0692105"
3,tt0004972,tt0004972,nm0000428,"nm0228746,nm0000428,nm0940488"
4,tt0006333,tt0006333,nm0665737,"nm0894523,nm0665737"
5,tt0006864,tt0006864,nm0000428,"nm0048512,nm0115218,nm0000428,nm0002616,nm0640..."

In [15]:
actors

actor_id, name, tag_id, tag_value

NameError: name 'actors' is not defined